@using SVSur.UI.ViewModels
@model LoginViewModel
@{
    ViewBag.Title = "INICIAR SESION";
}

<h2>@ViewBag.Title.</h2>
<div class="row">
    <div class="col-md-8">
        <section id="loginForm">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
            <h4>Utilice una cuenta local para iniciar sesión.</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <div class="checkbox">
                            @Html.CheckBoxFor(m => m.RememberMe)
                            @Html.LabelFor(m => m.RememberMe)
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="iniciar sesion" class="btn btn-default" />
                    </div>
                </div>
                <p>
                    @Html.ActionLink("Registrarse como nueva usuario", "Register")
                </p>
                //Enable this once you have account confirmation enabled for password reset functionality
                    <p>
                        @Html.ActionLink("Olvidaste tu contraseña?", "ForgotPassword")
                    </p>
            }
        </section>
    </div>
    <div class="col-md-4">
        <section id="socialLoginForm">
            <p>
                Nos encanta ser la empresa preferida de transporte de pasajeros del Perú.
                Gracias por compartir con nosotros 55 años viajando por el Perú y por eso, pensando siempre en nuestros clientes, hemos renovado nuestro sistema tarifario con precios base súper especiales.
                Hemos viajado juntos desde hace 60 años. Gracias por compartir con nosotros tus experiencias. 
            </p>
        </section>
    </div>
</div>

@*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@