@using Microsoft.AspNet.Identity
<!DOCTYPE html>


<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_Layout</title>

    <link href="~/Content/_Layout.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="~/Content/animate.css" rel="stylesheet" />
    @RenderSection("MisEstilos", false)


</head>

<body>
    <header>

        <div class="ancho">
            <div class="logo">
                <p><img src="~/Assets/img/logo2.png" height="50" width="200" alt="Alternate Text" /></p>
            </div>
            <nav>
                <ul>

                    <li><a href="~/admin/cliente/Index" target="_blank">CLIENTE</a></li>
                    <li><a href="~/admin/bus/Index" target="_blank">BUSES</a></li>
                    <li><a href="~/admin/chofer/Index" target="_blank">CHOFERES</a></li>
                    <li><a href="~/admin/ruta/Index" target="_blank">RUTAS</a></li>



                </ul>
            </nav>


            <div class="login">
                <p><a href=""><img src="~/Assets/img/user.png" height="50" width="50" alt="Alternate Text" />@(Request.IsAuthenticated ? @User.Identity.GetUserName() : "Mi cuenta") </a></p>
            </div>
        </div>





    </header>


    <br />
    <br />
    <br />
    <br />
    <br />






    <div class="container">
        @RenderBody()
    </div>
    <br />
    <br />

    @*<div class="ancho-letras">
            <div class="letras-slider">
                <h1 class="animated zoomIn">USO DEL FRAMEWORK MVC</h1>
                <p class="animated slideInUp">En líneas generales, MVC es una propuesta de arquitectura del software utilizada para separar el código por sus distintas responsabilidades, manteniendo distintas capas que se encargan de hacer una tarea muy concreta, lo que ofrece beneficios diversos.</p>
            </div>
        </div>
        <div class="cuerpo">
            <img src="~/Content/fondo.jpg" width="1200" height="720" alt="Alternate Text" />
        </div>*@

    <img src="~/Content/fondo.jpg" width="1350" alt="Alternate Text" />
    <br />

    <footer>


        <div class=" bg-primary text-white text-center">
            <div class="ancho">
                <div class="logo">
                    <p><img src="~/Assets/img/cargo.png" height="50" width="200" alt="Alternate Text" /></p>
                </div>



                <div class="login">
                    <p><img src="~/Assets/img/personal.png" height="50" width="200" alt="Alternate Text" /></p>
                </div>
            </div>

        </div>

        <div class="  bg-dark text-white text-center">
            <div class="card-footer">
                <div class="aa"><div class="elementor-text-editor elementor-clearfix"><p>©2020 todo los  derechos reservados | producido por  <span style="color: #c7b083;"><a style="color: #c7b083;" href="https://www.facebook.com/antoni.villanuevajimenes.1" target="_blank">antone.v.j & yanet.m.c</a></span></p></div></div>
            </div>
        </div>


    </footer>









    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/popper.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    @RenderSection("Misscripts", false)
</body>
</html>





