@model SVSur.Models.Domain.Chofer

@{
    ViewBag.Title = "Formulario";
}

<h2>PRODUCTOS-DETALLES</h2>

@using (Html.BeginForm((string)ViewBag.op, "Chofer", FormMethod.Post))
{
    <!--seguridad de los datos-->
    @Html.AntiForgeryToken()

    if (Model != null)
    {
        @Html.HiddenFor(model => model.ChoferID)
    }

    <div class="row">

        <div class="form-group col-sm-4">
            <label class="control-label">Nombre </label>
            @Html.TextBoxFor(model => model.Nombre, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Nombre)
        </div>

        <div class="form-group col-sm-6">
            <label class="control-label">Apellido </label>
            @Html.TextBoxFor(model => model.Apellidos, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Apellidos)
        </div>

        <div class="form-group col-sm-2">
            <label class="control-label">DNI </label>
            @Html.TextBoxFor(model => model.DNI, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.DNI)
        </div>
    </div>

    <div class="row">
        <div class="form-group col-sm-4">
            <label class="control-label">Edad </label>
            @Html.TextBoxFor(model => model.Edad, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Edad)
        </div>

        <div class="form-group col-sm-4">
            <label class="control-label">Sexo </label>
            @Html.TextBoxFor(model => model.Sexo, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Sexo)
        </div>

        @*<div class="col-sm-6">
            <div class="form-group">
                <label for="miselect">Sexo </label>
                @Html.DropDownListFor(model => model.Sexo, (IEnumerable<SelectListItem>)ViewBag.Categ, new { @class = "form-control" }) {
                new SelectListItem { Text="Masculino", Value="1" },
                new SelectListItem { Text="Femenino",  Value="2" },
                }, "Seleccione un sexo", new { @class = "form-control", id = "select_combos1" })
            </div>
        </div>*@
        <div class="col-sm-2">
            <div class="form-group">
                <label for="BusID" class="control-label">placa bus: </label>
                @Html.DropDownListFor(model => model.BusID, (IEnumerable<SelectListItem>)ViewBag.bus, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.BusID, null, new { @class = "badge badge-danger" })
            </div>
        </div>

        <div class="form-group col-sm-2">
            <label class="control-label">Estado </label>
            @Html.CheckBoxFor(model => model.Estado, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Estado)
        </div>



    </div>

    <div class="row">
        <div class="col-md-8">
            <button type="submit" class="btn btn-primary form-control">Guardar </button>
        </div>
        <div class="col-sm-4">
            <a href="#" class="btn btn-danger form-control">Cancelar</a>
        </div>

    </div>

}
